@page "/lista/{ListaId:int}/selecionar-loja"

@inherits BaseCrudViewPageComponent<Orcamento, OrcamentoView>

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

@inject UsuarioPerfilService UsuarioPerfilService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>MaterialeShop - Selecionar lojas</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Selecionar lojas</MudText>
    <br>

    <p>Cliente: @NomeCliente</p>
    <p>Endereço: @Endereco</p>

    <br>

    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" ValidationDelay="0">
        <MudCard Outlined="true">
            <MudCardHeader>
                <CardHeaderContent>
                    <h4>Novo item</h4>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class='d-flex flex-wrap justify-center align-center gap-1' style='width: 100% !important' WRAP>

                    @if (_LojaList is not null)
                    {
                        <MudSelect T="int" Label="Loja" Variant="Variant.Outlined" Placeholder="Selecione a loja"
                        Text="Selecione a loja" @bind-Value="model!.LojaId"
                        For="@(() => model.LojaId)" Required="true">
                            @foreach (var item in _LojaList)
                            {
                                <MudSelectItem Value="@item.Id">@item.Nome</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else
                    {
                        <MudSelect T="string" Label="Loja" Variant="Variant.Outlined" Text="Carregando lojas">
                            <MudSelectItem T="string"> Carregando lojas </MudSelectItem>
                        </MudSelect>
                    }

                </div>
            </MudCardContent>
            <MudCardActions>
                <div class='d-flex flex-row justify-end align-center gap-2' style='width: 100% !important' LINHA>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnClickCancel">
                        <MudText>Cancelar</MudText>
                    </MudButton>

                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)"
                        OnClick="OnClickSave">
                        @if (_processingNewItem)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processando</MudText>
                        }
                        else
                        {
                            <MudText><strong>Salvar</strong></MudText>
                        }
                    </MudButton>
                </div>
            </MudCardActions>

        </MudCard>
    </MudForm>

    <br>


    @if (_tableListFiltered == null)
    {
        <LoadingTable />
    }
    else
    {
        <MudTable Items="@_tableListFiltered" @ref="table" Elevation="1" Bordered="false" Striped="true" Hover="true"
        T="OrcamentoView">

            <ToolBarContent>
                <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="MudBlazor.Size.Medium" Class="mt-0" Clearable="true"
                ValueChanged="@(s=>OnValueChangedSearch(s))" Placeholder="Pesquisa" />
            </ToolBarContent>

            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<OrcamentoView, object>(x=>x.Nome)">
                        Nome
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<OrcamentoView, object>(x=>x.Recebido)">
                        Recebido
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<OrcamentoView, object>(x=>x.CodigoLoja)">
                        CodigoLoja
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    Ações
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nome">@context?.Nome</MudTd>
                <MudTd DataLabel="Recebido">@context?.Recebido</MudTd>
                <MudTd DataLabel="CodigoLoja">@context?.CodigoLoja</MudTd>
                <MudTd DataLabel="Ação">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" Size="MudBlazor.Size.Small"
                    OnClick="@(async (e) => await OnClickEdit(context) )" />
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="MudBlazor.Size.Small"
                    OnClick="@(async (e) => await OnClickDelete(context) )" />
                </MudTd>
            </RowTemplate>

            <NoRecordsContent>
                <br>
                <h4 style="text-align: center !important;">Você não tem nenhum item nesta página.</h4>
                <br>
            </NoRecordsContent>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>