@page "/carrinhos/{ListaId:int}"

@inherits BaseCrudViewPageComponent<CarrinhoItem, CarrinhoItemView>

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>MaterialeShop - Carrinhos de compras</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Carrinhos de compras</MudText>

    <br>

    <div class='d-flex flex-wrap justify-start align-center gap-4' style='width: 100% !important' WRAP>
        @if(_ListaView is null)
        {
            <MudSkeleton></MudSkeleton>
        } else
        {
            <MudCard Elevation=3>
                <MudCardHeader Class="pb-0">
                    <CardHeaderContent>
                        <div class='d-flex flex-row justify-start align-center gap-1' style='width: 100% !important' LINHA>
                            <MudIcon Icon="@Icons.Material.Filled.List" /><h3> Lista de compras </h3>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <p>Endereço: @Endereco</p>
                    <p>Data de criação da lista de compras: @_ListaView?.CreatedAt</p>
                </MudCardContent>
            </MudCard>
        }
        <MudCard Elevation=3>
            <MudCardHeader Class="pb-0">
                <CardHeaderContent>
                    <div class='d-flex flex-row justify-start align-center gap-1' style='width: 100% !important' LINHA>
                        <MudIcon Icon="@Icons.Material.Filled.PriceCheck" Color="Color.Success" /><h3> Economia </h3>
                    </div>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Text Typo="Typo.h6" Align="Align.Center">
                    @( "R$" + String.Format("{0:0.00}", economiaTotal ) )
                </MudText>
                <MudText Typo="Typo.body2" Align="Align.Center">
                    @( String.Format("{0:0.00}", economiaTotalPercentual )+"%" )
                    <MudTooltip Text="Em relação ao orçamento mais caro recebido.">
                        <MudIconButton Icon="@Icons.Material.Filled.Info" Style="padding: 4px" Size="Size.Small"/>
                    </MudTooltip>
                </MudText>
                
            </MudCardContent>
        </MudCard>
    </div>

    <br>
    <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" 
        OnClick='@(async (e) => NavigationManager.NavigateTo(Rotas.Orcamentos_comparativo(ListaId)))' >
        Abrir comparativo de orçamentos
    </MudButton>
    <br>
    <br>


    @if (_carrinhoViews == null)
    {
        <LoadingTable />
    } else if (_carrinhoViews.Count() == 0)
    {
        <br>
        <br>
        <br>
        <MudText Typo="Typo.h5" Align="Align.Center">Não há carrinhos de compras para esta lista.</MudText>
        <br>
        <MudText Typo="Typo.body2" Align="Align.Center">Veja os comparativos de orçamentos e adicione itens ao carrinho para eles aparecem nesta tela.</MudText>
    }
    else
    {
        @foreach (var carrinhoView in _carrinhoViews)
        {   
            <MudCard Elevation="2">
                <MudCardHeader Class="pb-0">
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@carrinhoView.LojaNome</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Title="Limpar carrinho desta loja" 
                            OnClick="@( async (e) => await DeleteCarrinhoClickHandlerAsync(carrinhoView.CarrinhoId))"/>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent Class="pt-0">
                    
                    <MudList>
                        @foreach (var carrinhoItem in getCarrinhoItemViewFromCarrinho(carrinhoView.CarrinhoId))
                        {
                            <MudListItem>
                                <div class='d-flex flex-row justify-space-between align-center gap-4' style='width: 100% !important' LINHA>
                                    @carrinhoItem.Descricao
                                    <div class='d-flex flex-wrap justify-center align-center gap-4' WRAP>
                                        
                                        <MudText Typo="Typo.body2" Align="Align.Left">@( "R$" + String.Format("{0:0.00}", carrinhoItem?.Quantidade * carrinhoItem?.Preco) )</MudText>

                                        <MudNumericField Value="@carrinhoItem.Quantidade" Variant="Variant.Outlined" Min="0" Margin="Margin.None" 
                                            IconSize="Size.Large" Immediate FullWidth="false" Class="mt-0" ValueChanged="@( async (e) => ValueChangedHandler(e, carrinhoItem))" T="int" />
                                        
                                    </div>
                                </div>
                            </MudListItem>
                            <MudDivider/>                        
                        }
                        
                        
                    </MudList>

                </MudCardContent>

                <MudCardActions>
                    
                    <div class='d-flex flex-row justify-start align-start gap-4 px-6 py-4 mx-12 mb-4 border-solid border' style='width: 100% !important; border-color: #ccc' LINHA>

                        <div class='d-flex flex-column justify-start align-start gap-4' style='width: 100% !important' COLUNA>
                            <MudText Align="Align.Start" Typo="Typo.body2">Prazo de entrega: @carrinhoView.EntregaPrazo</MudText>
                            <MudText Align="Align.Start" Typo="Typo.body2">Taxa de entrega: @( "R$" + String.Format("{0:0.00}", carrinhoView?.EntregaPreco ) )</MudText>
                        </div>
                        <div class='d-flex flex-column justify-start align-start gap-4' style='width: 100% !important' COLUNA>
                            <MudText Align="Align.Start" Typo="Typo.body2"><b>Preço total: @( "R$" + String.Format("{0:0.00}", carrinhoView?.PrecoTotal + carrinhoView?.EntregaPreco ) )</b></MudText>
                            <div class='d-flex flex-column justify-start align-start gap-1' style='width: 100% !important' COLUNA>
                                <MudText Align="Align.Start" Typo="Typo.body1"><b>Preço total à vista *: @( "R$" + String.Format("{0:0.00}", carrinhoView?.PrecoTotal + carrinhoView?.EntregaPreco ) )</b></MudText>
                                <MudText Align="Align.Start" Typo="Typo.subtitle2">* Economia de R$ XX no dinheiro ou Pix.</MudText>
                            </div>
                        </div>
                    </div>                
                </MudCardActions>
            </MudCard>
            <br>
            <br>
        }
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<MudAppBar Bottom="true" Fixed="true" Elevation="3" Style="background-color: #dadada !important" >
    <div class='d-flex flex-row justify-space-around align-center gap-4' style='width: 100% !important' LINHA>
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert>
            <div class='d-flex flex-column justify-start align-center gap-1' COLUNA>
                <MudText Align="Align.Start" Typo="Typo.body2" Color="Color.Secondary"><b>Preço total: @( "R$" + String.Format("{0:0.00}", _carrinhoGroupByListaView?.PrecoTotal + (_carrinhoGroupByListaView?.EntregaPrecoTotal is not null ? _carrinhoGroupByListaView?.EntregaPrecoTotal : 0 ) ) )</b></MudText>
                <MudText Text Align="Align.Start" Typo="Typo.subtitle2" Color="Color.Secondary">* Economia de R$ XX no dinheiro ou Pix.</MudText>
            </div>
        </MudHidden>
        <MudText Align="Align.Start" Typo="Typo.body1" Color="Color.Secondary"><b>Preço total à vista *: @( "R$" + String.Format("{0:0.00}", _carrinhoGroupByListaView?.PrecoTotal + (_carrinhoGroupByListaView?.EntregaPrecoTotal is not null ? _carrinhoGroupByListaView?.EntregaPrecoTotal : 0 ) ) )</b></MudText>
    </div>
</MudAppBar>

<style>
    input {
        padding: 10px !important;
        border: 10px !important;
        width: 50px !important;
    }
</style>