@page "/comparativo/{ListaId:int}"

@inherits BasePageComponent

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

<PageTitle>MaterialeShop - Orçamentos</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Comparativo de orçamentos</MudText>
    <br>

    @if( (_ListaItemList == null || !_ListaItemList.Any()) && 
            (_OrcamentoViewList == null || !_OrcamentoViewList.Any()) &&
            (_OrcamentoItemList == null || !_OrcamentoItemList.Any()) )
    {
        <MudSkeleton />
    } else
    {
        <MudSimpleTable Hover="true" Bordered="true" Striped="true" Style="overflow-x: auto;" Outlined="false" Class="espaco-borda">
            <thead>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    @foreach (OrcamentoView item in _OrcamentoViewList)
                    {
                        <th Class="borda-remove"></th>
                        <th colspan="3" Class="borda-todas"><MudText Align="Align.Center"><b>@item.LojaNome</b></MudText></th>
                    }
                </tr>
                
                <tr>
                    <th>#</th>
                    <th>Quantidade solicitada</th>
                    <th Class="borda-right">Produto</th>

                    @foreach (OrcamentoView item in _OrcamentoViewList)
                    {
                        <th Class="borda-remove"></th>
                        <th Class="borda-left">Quantidade ofertada</th>
                        <th>Preço unitário</th>
                        <th Class="borda-right">Preço total</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if(tabelaComparativa is null)
                {
                    <MudSkeleton></MudSkeleton>
                } else
                {
                    int aux_coluna;
                    int aux_linha=0;
                    @foreach (var linha in tabelaComparativa)
                    {
                        aux_coluna=2; //começa em 2 pq a primeira coluna eh o numero de ordem dos itens e eh inserida antes dos foreach
                        aux_linha++;
                        <tr>
                            <td>@aux_linha</td>
                            @foreach (var coluna in linha)
                            {
                                if(aux_coluna % 4 != 0)
                                {
                                    <td>@coluna</td>
                                } else
                                {
                                    <td Class="borda-remove"></td>
                                    <td>@coluna</td>
                                    aux_coluna++;
                                }
                                aux_coluna++;
                            }
                        </tr>
                    }
                }

                <tr>
                    <td Class="borda-remove-todas"></td>
                    <td Class="borda-remove-todas"></td>
                    <td Class="borda-remove-todas"></td>
                    @foreach (OrcamentoView item in _OrcamentoViewList)
                    {
                        <td Class="borda-remove"></td>
                        <td colspan="2"><MudText Align="Align.Center" Typo="Typo.body2">Prazo de entrega</MudText></td>
                        <td>@item.EntregaPrazo</td>
                    }
                </tr>

                <tr>
                    <td Class="borda-remove-todas"></td>
                    <td Class="borda-remove-todas"></td>
                    <td Class="borda-remove-todas"></td>
                    @foreach (OrcamentoView item in _OrcamentoViewList)
                    {
                        <td Class="borda-remove"></td>
                        <td colspan="2"><MudText Align="Align.Center" Typo="Typo.body2">Taxa de entrega</MudText></td>
                        <td>@item.EntregaPreco</td>
                    }
                </tr>

            </tbody>
        </MudSimpleTable>
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<style>
    .borda-todas {
        border: 1px solid var(--mud-palette-table-lines);
    }
    
    .borda-left {
        border-left: 1px solid var(--mud-palette-table-lines);
    }
    
    .borda-right {
        border-right: 1px solid var(--mud-palette-table-lines);
    }
    
    .borda-remove {
        border-top: 0px !important;
        border-bottom: 0px !important;
    }
    
    .borda-remove-todas {
        border: 0px !important;
    }

</style>