@page "/clientes"

@inherits BaseCrudPageComponent<Perfil>

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

@inject UsuarioPerfilService UsuarioPerfilService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>MaterialeShop - Clientes</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Clientes e/ou Usuários do sistema</MudText>

    <br>

    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" ValidationDelay="0">
        <MudCard Outlined="true">
            <MudCardHeader>
                <CardHeaderContent>
                    <h4>Novo item</h4>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class='d-flex flex-wrap justify-center align-start gap-1' style='width: 100% !important' WRAP>
                    <MudTextField Label="Nome completo" @bind-Value="model.NomeCompleto" For="@(() => model.NomeCompleto)" Required="true"
                        Immediate="true" Variant="Variant.Outlined"/>
                    <MudTextField Label="Email" @bind-Value="model.Email" For="@(() => model.Email)"
                        Immediate="true" Variant="Variant.Outlined"/>
                    <MudTextField Label="CPF" @bind-Value="model.Cpf" For="@(() => model.Cpf)"
                        Immediate="true" Variant="Variant.Outlined"/>
                    <MudTextField Label="Telefone" @bind-Value="model.Telefone" For="@(() => model.Telefone)"
                        Immediate="true" Variant="Variant.Outlined"/>
                    <MudTextField Label="Uuid" @bind-Value="model.UserUuid" For="@(() => model.UserUuid)"
                        Immediate="true" Variant="Variant.Outlined"/>
                </div>
            </MudCardContent>
            <MudCardActions>
                <div class='d-flex flex-row justify-end align-center gap-2' style='width: 100% !important' LINHA>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" 
                        OnClick="OnClickCancel">
                            <MudText>Cancelar</MudText>
                    </MudButton>

                    <MudButton Variant="Variant.Filled" Color="Color.Primary"  
                        OnClick="OnClickSave">
                        @if (_processingNewItem)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processando</MudText>
                        }
                        else
                        {
                            <MudText><strong>Salvar</strong></MudText>
                        }
                    </MudButton>
                </div>
            </MudCardActions>

        </MudCard>
    </MudForm>

    <br>


    @if (_tableListFiltered == null)
    {
        <LoadingTable/>
    } else
    {
        <MudTable Items="@_tableListFiltered" @ref="table" Elevation="1" Bordered="false" Striped="true" Hover="true" T="Perfil">

            <ToolBarContent>
                <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="MudBlazor.Size.Medium" Class="mt-0" Clearable="true" Immediate="true"
                ValueChanged="@(s=>OnValueChangedSearch(s))" Placeholder="Pesquisa" />
            </ToolBarContent>

            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Perfil, object>(x=>x.NomeCompleto)">
                            Nome completo
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Perfil, object>(x=>x.Email)">
                        Email
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Perfil, object>(x=>x.Cpf)">
                        CPF
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Perfil, object>(x=>x.Telefone)">
                        Telefone
                    </MudTableSortLabel>                    
                </MudTh>
                <MudTh>
                    Ações
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nome completo">@context?.NomeCompleto</MudTd>
                <MudTd DataLabel="Email">@context?.Email</MudTd>
                <MudTd DataLabel="CPF">@context?.Cpf</MudTd>
                <MudTd DataLabel="Telefone">@context?.Telefone</MudTd>
                <MudTd DataLabel="Ação">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                        Size="MudBlazor.Size.Small"
                        OnClick="@(async (e) => { await OnClickEdit(context.GetCopy()); })"
                        />
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="MudBlazor.Size.Small"
                        OnClick="@(async (e) => { await OnClickDelete(context); })" />
                </MudTd>
            </RowTemplate>

            <NoRecordsContent>
                <br>
                <h4 style="text-align: center !important;">Você não tem nenhum item nesta página.</h4>
                <br>
            </NoRecordsContent>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>