@page "/"
@attribute [Route(Rotas.listas)]
@inherits BasePageComponent
@* @attribute [Authorize] *@

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components
@using MaterialeShop.Admin.Src.Providers
@inject ListasService ListasService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>@AppGlobals.AppName - @Titulo</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Minhas listas de compras</MudText>
    <br>

    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Class="my-2">
            <MudButton OnClick="OnClickCriarLista" Disabled="@_novaListaCarregando">
                @if (_novaListaCarregando)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    <p>Criar nova lista</p>
                }
            </MudButton>
            <MudButton>Enviar nova lista em anexo</MudButton>
        </MudButtonGroup>
    </MudHidden>

    <br>
    <br>

    @if (_listaListFiltered == null)
    {
        <MudSimpleTable>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <MudSkeleton />
                    </td>
                    <td>
                        <MudSkeleton />
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    }
    else if (_listaListFiltered.Count == 0)
    {
        <MudContainer>
            <br>
            <br>
            <br>
            <h2 style="text-align: center !important;">Você não tem nenhuma lista nesta página.</h2>
        </MudContainer>
    }
    else
    {
        <MudTable Items="@_listaListFiltered" @ref="table" Elevation="1" Bordered="false" Striped="true" Hover="true"
        SortLabel="Sort By" T="Lista">
            @* <ToolBarContent>
                <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="MudBlazor.Size.Medium" Class="mt-0" Clearable="true"
                ValueChanged="@(s=>OnValueChangedSearch(s))" Placeholder="Search" />
                </ToolBarContent> *@
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Lista, object>(x=>x.Titulo)">
                        Título
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    Action
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Título">@context?.Titulo</MudTd>
                <MudTd DataLabel="Action">
                    @* <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                        Size="MudBlazor.Size.Small"
                        OnClick="@( (e) => {NavigationManager.NavigateTo($"/listaitems/{context?.Lista?.Id}");})"
                        /> *@
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="MudBlazor.Size.Small"
                    OnClick="@(async (e) => {await OnClickDelete(context);})" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="false">
    <MudFab Class="fabAnexo" Color="Color.Success" StartIcon="@Icons.Filled.AttachFile" Size="Size.Small" />
    <MudFab Class="fabAdd" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="OnClickCriarLista"
        Disabled="@_novaListaCarregando" />
</MudHidden>

<style>
    .fabAdd {
        position: fixed !important;
        bottom: 80px !important;
        right: 5px !important;
        z-index: 1000000 !important;
    }

    .fabAnexo {
        position: fixed !important;
        bottom: 145px !important;
        right: 13px !important;
        z-index: 1000000 !important;
    }
</style>
