@attribute [Route(Rotas.carrinhos)]

@inherits BaseCrudPageComponent<CarrinhoGroupByListaView>

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

@inject UsuarioPerfilService UsuarioPerfilService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>MaterialeShop - Carrinhos de compras</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <Breadcrumbs Items="_items"></Breadcrumbs>

    <MudText Typo="Typo.h5">Carrinhos de compras</MudText>

    <br>


    @if (_tableListFiltered == null)
    {
        <LoadingTable />
    }
    else
    {
        <MudTable Items="@_tableListFiltered" @ref="table" Elevation="1" Bordered="false" Striped="true" Hover="true"
        T="CarrinhoGroupByListaView" OnRowClick="RowClickEvent">

            <ToolBarContent>
                <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="MudBlazor.Size.Medium" Class="mt-0" Clearable="true" Immediate="true"
                ValueChanged="@(s=>OnValueChangedSearch(s))" Placeholder="Pesquisa" />
            </ToolBarContent>

            <HeaderContent>
                <MudTh>
                    Ações
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.NomeCompleto)">
                        NomeCompleto
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.Endereco)">
                        Endereco
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.Lojas)">
                        Lojas
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.PrecoTotalComEntrega)">
                        PrecoTotalComEntrega
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.Economia)">
                        Economia
                    </MudTableLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.QuantidadeItens)">
                        QuantidadeItens
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.EntregaPrecoTotal)">
                        EntregaPrecoTotal
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.EntregaPrazoMinimo)">
                        EntregaPrazoMinimo
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CarrinhoGroupByListaView, object>(x=>x.CreatedAt)">
                        Data de criação da lista
                    </MudTableSortLabel>
                </MudTh>
                
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Ação">
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingCartCheckout" aria-label="Ver carrinhos de compras desta lista"
                    Title="Ver carrinhos de compras desta lista" Size="MudBlazor.Size.Small"
                    OnClick='@(async (e) => NavigationManager.NavigateTo(Rotas.CarrinhosItensLista(context.ListaId)))' />
                    
                    <MudIconButton Icon="@Icons.Material.Filled.TableChart"
                        Title="Ver comparativo de orçamentos" Size="MudBlazor.Size.Small"
                        OnClick='@(async (e) => NavigationManager.NavigateTo(Rotas.Orcamentos_comparativo(context.ListaId)))' />
                </MudTd>
                
                <MudTd DataLabel="NomeCompleto">@context?.NomeCompleto</MudTd>
                <MudTd DataLabel="Endereco">@context?.Endereco</MudTd>
                <MudTd DataLabel="Lojas">@context?.Lojas</MudTd>
                <MudTd DataLabel="PrecoTotalComEntrega">
                    @( "R$" + String.Format("{0:0.00}", @context?.PrecoTotalComEntrega ) )
                </MudTd>
                <MudTd DataLabel="Economia">
                    @( "R$" + String.Format("{0:0.00}", @context?.Economia ) )
                </MudTd>
                <MudTd DataLabel="QuantidadeItens">@context?.QuantidadeItens</MudTd>
                <MudTd DataLabel="EntregaPrecoTotal">
                    @( "R$" + String.Format("{0:0.00}", @context?.EntregaPrecoTotal ) )
                </MudTd>
                <MudTd DataLabel="EntregaPrazoMinimo">@context?.EntregaPrazoMinimo</MudTd>
                <MudTd DataLabel="Data de criação da lista">@context?.CreatedAt</MudTd>
                
            </RowTemplate>

            <NoRecordsContent>
                <br>
                <h4 style="text-align: center !important;">Você não tem nenhum item nesta página.</h4>
                <br>
            </NoRecordsContent>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>